.calendar {
    width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #333;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  td:hover {
    background-color: #ddd;
  }
  